## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [ ]:
x= 12

2) Imprimir el tipo de dato de la constante 8.5

In [ ]:
type(8.5)

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [ ]:
type(12)

4) Crear una variable que contenga tu nombre

In [ ]:
mi_nombre= "wilson alexis velez"

5) Crear una variable que contenga un número complejo

In [ ]:
n_complejo= 8+33j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [ ]:
type(n_complejo)

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [ ]:
pi=3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [ ]:
a= True
b= True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [ ]:
print('La variable 1 es de tipo ', type(a), ' y la variable 2 es de tipo ', type(b))

10) Asignar a una variable, la suma de un número entero y otro decimal

In [ ]:
a= 33+18,5

11) Realizar una operación de suma de números complejos

In [ ]:
c= 33+22j

12) Realizar una operación de suma de un número real y otro complejo

In [ ]:
(4.61+1j)

13) Realizar una operación de multiplicación

In [ ]:
a= 12*12

14) Mostrar el resultado de elevar 2 a la octava potencia

In [ ]:
a=16

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [ ]:
a = 27 / 4
print(a)

16) De la división anterior solamente mostrar la parte entera

In [ ]:
print(27 // 4)

17) De la división de 27 entre 4 mostrar solamente el resto

In [ ]:
27 % 4

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [ ]:
6 * 4 + 3

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [ ]:
var11 = 'Buenos '
var12 = 'Aires'
print(var11 + var12)

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [ ]:
2 == '2'

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [ ]:
2 == int('2')

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [ ]:
b=3
c-=1
print(b)

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

26) Realizar una operación válida entre valores de tipo entero y string